<div class= "container">
  <h3 class= "text-center">Свържете се с нас</h3>  
  
  <%= form_for "contacts" do |f| %>
    <%= f.label :Име %>
    <%= f.text_field :name %>
    
    <%= f.label :Имейл %>
    <%= f.text_field :email %>
    
    <%= f.label :Коментари %>
    <%= f.text_area :comments %>
    
    <%= f.submit 'Изпращане' %>
  <% end %>
</div>
